[user]
	name = Fredrik Hammar
	email = fredrik.hammar@dataductus.se

[core]
	excludesfile = ~/.gitexcludes
[sendmail]
[format]
[diff]
	patience = true
[sendemail]
	annotate = true
	multiedit = false
	confirm = always
	suppressfrom = true
